body {
    background-color:white;
}

header {
    background-image: url("/banner.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height: 40em;
    position: relative;
    border-style: solid;
    border-color: darkgreen;
    border-radius: .5%;
    
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    
}